<div id="modal-a5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title lang">Report Progress</h4>
            </div> -->
            <div class="col-md-12 p-r-40">
                <h5 class="m-t-20 lang">Report progress</h5>
                <div class="progress m-t-10">
                    <div id="a5-progress-bar" class="progress-bar bg-info active progress-bar-striped" style="width: 20%; height:14px;" role="progressbar">
                    </div>
                </div>
            </div>
            <small class="text-muted">
                <div id="a5-body" class="modal-body">
                </div>
            </small>
            <div class="modal-footer">
                <button id="a5-btn-close" type="button" class="btn btn-secondary lang" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    
<!-- /.modal -->