<div id="modal-a6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title lang">Authorization</h4>
            </div>
            <div class="modal-body">
                <h6 class="card-subtitle">Account to login Jira and SVN</h6>
                <h6 class="card-subtitle m-t-20"><code id="a6-warning"></code></h6>
                <form id="a6-form" class="floating-labels m-t-40">
                    <div class="form-group m-b-40">
                        <input id="a6-username" type="text" class="form-control" id="input1">
                        <span class="bar"></span>
                        <label for="input1">Username</label>
                    </div>
                    <div class="form-group m-b-40">
                        <input id="a6-password" type="password" class="form-control" id="input2">
                        <span class="bar"></span>
                        <label for="input2">Password</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="a6-btn-save" type="button" class="btn btn-primary lang">Save</button>
                <button id="a6-btn-close" type="button" class="btn btn-secondary lang" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /.modal -->