<div id="modal-s2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title lang">Warning</h4>
            </div>
            <div class="modal-body">
                <div id="s2-wait">
                    <div class="alert alert-info"><h6>Please wait >>></h6></div>
                </div>
                <div class="table-responsive table-hover color-table primary-table">
                    <table id="s2-warning-tbl" class="table">
                        <thead>
                            <tr>
                                <th class="lang">Filename</th>
                                <th class="lang">Item</th>
                                <th class="lang">Status</th>
                                <th class="lang">Explanation</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary lang" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->